version: "3.9"

services:
  bot:
    build: .
    container_name: soundboard_bot
    network_mode: host
    environment:
      - TZ=Europe/Paris
    env_file:
      - .env
    volumes:
      - ./sounds:/app/sounds
      - ./data:/app/data
    restart: unless-stopped
